div p{
    margin: 0;
}

form{
    margin: 0 auto;
}

form input{
    width: 150px;
    height: 25px;
}

.data{
    margin: 20px 0;
}

.submit-block{
    overflow: hidden;
}

.btn{
    width: 150px;
    height: 50px;
    float: left;
    margin-right: 20px;
    border: none;
    border-radius: 10px;
}

.submit-btn{
    background-color: green;
    color: white;
    letter-spacing: 2px;
}

.logout-btn{
    background-color: black;
    color: white;
    letter-spacing: 2px;
    display: none;
}

.preloader{
    display: none;
    font-size: 20px;
    background-color: yellow;
}

.error{
    display: none;
    width: 200px;
    height: 100px;
    margin-top: 20px;
    text-align: center;
    line-height: 100px;
    background-color: red;
    color: white;
}

.person-data{
    display: none;
}